# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary outputs
outputs/

# Streamlit cache
.streamlit/

# IDE
.idea/
.vscode/

# Large files (optional)
*.zip